@import '/home/nova/.config/eww/macchiato.scss';

* {
    all: unset;
    font-family: "Roboto";
    font-size: 25px;
}


.powermenu-window {
    background: $surface; 
    padding: 20px;
    color: $text;
}


.powermenu-button {
    background: $overlay;
    margin: 20px;
    padding: 5px;
  }

.powermenu-button:hover {
   background: lighten($overlay, 10%);
}

.powermenu-lockscreen-button {
    color: $red;
}

.powermenu-logout-button {
    color: $blue;
}

.powermenu-poweroff-button {
    color: $orange;
    padding-right: 10px;
}

.powermenu-reboot-button {
    color: $pink;
    padding-right: 10px;
}
                     // (powermenu-lockscreen-button)
                     // (powermenu-logout-button)
                     // (powermenu-poweroff-button)
                     // (powermenu-reboot-button)
