@import "./rose-pine.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#pulseaudio,
#temperature,
#cpu,
#memory,
#disk,
#tray,
#custom-shutdown,
#custom-reboot,
#custom-quit,
#custom-lock
{
    color: @base;
    padding: 0 8px;
}

#tray,
#hardware,
#pulseaudio,
#clock,
#power{
    margin-top: 2px;
    margin-bottom: 1px;
    border-radius: 8px;
}

#tray {
    background-color: #f5bde6;
}

#hardware {
    background-color: @iris;
}

#clock {
    background-color: @rose;
}

#pulseaudio {
    background-color: @foam;
}

#power {
    background-color: @love;
}

#workspaces {
    border-radius: 0px 10px 10px 0px;
    background-color: @surface;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    color: @muted;
}

#workspaces button:hover {
    color: @text;
}

#workspaces button.focused, #workspaces button.active {
    color: @text;
}

#workspaces button.urgent {
    color: @base;
    background-color: @love;
}

#window {
    color: @subtle;
    font-style: italic;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

