@import "./rose-pine.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#temperature,
#memory,
#disk,
#custom-reboot,
#custom-quit,
#custom-lock {
    padding-right: 12px;
}

#custom-shutdown {
    padding-left: 2px;
}

#tray,
#pulseaudio,
#clock,
#workspaces,
#custom-arch,
#hardware,
#power {
    padding: 0px 8px;
    margin-top: 2px;
    margin-bottom: 1px;
    border-radius: 10px;
}

#tray,
#clock,
#pulseaudio,
#hardware {
    background-color: @overlay;
}

#power {
    background-color: @iris;
    color: @base;
}

#custom-arch {
    background-color: @iris;
    color: @base;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 4px;
}

#window {
    color: @subtle;
}

#workspaces {
    background-color: @base;
}

button {
    border: none;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 2px;
    color: @muted;
}

#workspaces button:hover {
    color: @text;
}

#workspaces button.focused, #workspaces button.active {
    color: @text;
}

#workspaces button.urgent {
    color: @base;
    background-color: @love;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

